 .u-section-1 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 51.07% 100%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }
}