.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 52px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 590px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  filter: none;
  width: 482px;
  height: 317px;
  margin: 114px 32px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 114px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 382px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 309px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 237px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 568px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 361px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 314px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-weight: 700;
  margin: 72px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 538px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 495px;
  --radius: 100px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 112px auto 0 19px;
}

.u-section-3 .u-text-2 {
  margin: 37px 48px 0 19px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 495px;
  --radius: 100px;
  filter: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  filter: none;
  width: 527px;
  height: 333px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 408px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 455px;
    height: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-3 .u-image-1 {
    width: 345px;
    height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 215px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 263px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 51px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 29px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 9px -20px 41px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 572px;
  filter: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  filter: brightness(0.75);
  width: 626px;
  height: 398px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 103px auto 0 23px;
}

.u-section-5 .u-text-2 {
  margin: 34px 20px 0 23px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 472px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 299px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 229px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 216px;
  }
}